.container {
    background: #331832;
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joiningRoomForm {
    background-color: #1f0f1e;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 12px;
}

.joinRoomHeading { 
    color: #fff;
    margin-bottom: 30px;
}

input {
    background-color: transparent;
    border: 1px solid #1b2f4e;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 300px;
    color: #fff;
}

.joiningRoomButton {
    width: 200px;
    height: 30px;
    background-color: #e0e0e2;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.newRoom {
    padding-top: 10px;
    color: #fff;
    font-size: 15px;
    button {
        background: none;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: #c83535;
        text-decoration: underline;
    }
}